body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  background-color: #cfcfcf;
}

.flexCol {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.header {
  background-color: #445f50;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: #cfcfcf;
  font-size: 2.5rem;
  margin: 0;
}

.left {
  background-color: #cfcfcf;
  height: 100%;
  width: 45%;
  align-items: flex-start;
  justify-content: center;
}

.right {
  background-color: #242424;
  background-image: url(https://img.freepik.com/free-photo/high-angle-shot-beautiful-forest-with-lot-green-trees-enveloped-fog-new-zealand_181624-19717.jpg?ga=GA1.1.945349824.1724605243&semt=ais_hybrid);
  background-size: cover;
  background-position: left;
  mask-image: linear-gradient(to left, black 10%, transparent 100%);
  height: 100%;
  width: 55%;
}

.title {
  font-size: 10rem;
  margin: 0;
  margin-left: 95px;
  color: #445f50;
}

.subtitle {
  font-size: 7rem;
  margin: 0;
  margin-left: 95px;
  color: #242424;
}
